@charset "UTF-8";

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-bold.woff2") format("woff2"), url("../fonts/geometria-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria.woff2") format("woff2"), url("../fonts/geometria.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  font-display: swap;
  src: url("../fonts/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-medium.woff2") format("woff2"), url("../fonts/geometria-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  font-display: swap;
  src: url("../fonts/PTSerif-Italic.woff2") format("woff2"), url("../fonts/PTSerif-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 27px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Geometria";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Geometria";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1450px;
  padding: 0 20px;
  margin: 0 auto;
}

.form__line {
  margin-bottom: 20px;
}

.form__error {
  font-size: 27px;
  margin-top: 10px;
  color: #ee1212;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0.6px solid #ffffff;
  color: #fff;
  font-size: 27px;
  background: inherit;
}

.input._error {
  border-color: #ee1212;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #203189;
  border: 1px solid #203189;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 16.8695px 37.7083px rgba(29, 48, 127, 0.57);
          box-shadow: 0px 16.8695px 37.7083px rgba(29, 48, 127, 0.57);
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 77px;
  padding-right: 77px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title {
  font-family: PTSerif;
  font-weight: bold;
  font-size: 34px;
  line-height: 132%;
  text-transform: uppercase;
}

.title-w {
  color: #ffffff;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 30px;
  width: 100%;
  max-width: 800px;
}

.popup_send-message .popup__close {
  cursor: pointer;
  text-align: center;
}

.popup_send-message .popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 118px 127px 145px;
  padding-top: 118px;
  padding-bottom: 145px;
  padding-right: 127px;
  padding-left: 127px;
  width: 100%;
  max-width: 800px;
}

.popup_send-message__img {
  width: 78px;
  margin-bottom: 20px;
}

.popup_send-message__img img {
  width: 100%;
}

.popup_send-message__title {
  font-family: PTSerif;
  font-weight: bold;
  font-size: 43px;
  font-size: 43px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popup_send-message__text {
  font-size: 27px;
  text-align: center;
  line-height: 1.25;
  margin-bottom: 64px;
}

.popup_popup .popup__close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 30;
}

.popup .form__btn {
  text-align: center;
}

.header {
  background: #efefef;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header__container {
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__logo {
  width: 78px;
  height: 78px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__icon {
  pointer-events: painted;
}

.menu__body {
  position: absolute;
  right: 20px;
  top: 150px;
  background: #ffffff;
  -webkit-box-shadow: 0px 13.4315px 30.0233px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 13.4315px 30.0233px rgba(0, 0, 0, 0.22);
  width: 347px;
  max-height: 100vh;
  padding: 52px 63px;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body._active {
  top: 75px;
  opacity: 1;
  visibility: visible;
  pointer-events: painted;
}

.menu__list {
  margin-bottom: 50px;
}

.menu__list::before {
  content: "";
  background-color: transparent;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

.menu__item {
  line-height: 126%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.menu__item:not(:last-child) {
  margin: 0px 0px 42px 0px;
}

.menu__link {
  color: #c4c4c4;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: #000;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

footer {
  background: #000000;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  font-size: 20px;
  line-height: 1.25;
}

.footer a {
  color: inherit;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__confidentiality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__confidentiality a {
  margin-bottom: 13px;
}

.footer__phone {
  margin: 0 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__info span:not(:last-child) {
  margin-bottom: 13px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__foolscreen {
  background: #ffffff;
  padding: 25px 0;
}

.page__diplom {
  padding-top: 128px;
  padding-bottom: 128px;
}

.page__information {
  padding-top: 86px;
  padding-bottom: 113px;
}

.page__advantages {
  background-color: #efefef;
  padding-top: 125px;
  padding-bottom: 125px;
}

.page__necessary {
  background-color: #203189;
  padding-top: 137px;
  padding-bottom: 137px;
}

.page__ask {
  padding-top: 104px;
  padding-bottom: 104px;
}

.page__why {
  color: #fff;
}

.page__why span {
  opacity: 0.4;
}

.page__packages {
  background-color: #efefef;
  padding-top: 155px;
  padding-bottom: 155px;
}

.page__sertificat {
  color: #fff;
}

.page__sertificat span {
  opacity: 0.4;
}

.page__education {
  padding-top: 145px;
  padding-bottom: 145px;
}

.page__speakers {
  padding-top: 253px;
  padding-bottom: 145px;
}

.page__faq {
  padding-top: 128px;
  padding-bottom: 144px;
}

.page__form {
  padding-bottom: 143px;
}

.foolscreen {
  padding-top: 160px;
  padding-bottom: 60px;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.foolscreen__bg {
  position: relative;
  max-width: 1755px;
  margin: 0 auto;
}

.foolscreen__bg > img {
  position: absolute;
  top: 0;
  left: 0;
}

.foolscreen__img {
  position: relative;
  z-index: 1;
}

.foolscreen__text {
  font-family: PTSerif;
  font-weight: bold;
  line-height: 132%;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.foolscreen__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foolscreen__arrow {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  min-width: 66px;
  height: 66px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 16.8695px 37.7083px rgba(29, 48, 127, 0.57);
          box-shadow: 0px 16.8695px 37.7083px rgba(29, 48, 127, 0.57);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.foolscreen__arrow img {
  height: 18px;
}

.foolscreen__btn {
  margin-right: 10px;
}

.diplom__container {
  position: relative;
  z-index: 2;
}

.diplom__title {
  margin-bottom: 22px;
}

.diplom__text {
  font-size: 27px;
  line-height: 126%;
}

.diplom__text span {
  font-weight: 700;
}

.information__container {
  position: relative;
  z-index: 1;
}

.information__title {
  margin-bottom: 26px;
  text-align: center;
}

.information__list {
  font-size: 27px;
  line-height: 126%;
}

.information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information__item span {
  margin-right: 44px;
  font-size: 100px;
  line-height: 1;
  min-width: 72px;
  min-width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: PTSerif;
  font-style: italic;
  text-transform: uppercase;
  color: #efefef;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.information__item:not(:last-child) {
  margin-bottom: 45px;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.advantages__item {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  text-align: center;
}

.advantages__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  background-color: #203189;
  -webkit-box-shadow: 0px 13.4315px 30.0233px rgba(29, 48, 127, 0.57);
          box-shadow: 0px 13.4315px 30.0233px rgba(29, 48, 127, 0.57);
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages__item-img img {
  width: 64px;
}

.advantages__item-text {
  line-height: 1.25;
  font-size: 27px;
}

.necessary__title {
  margin-bottom: 43px;
}

.necessary__list {
  font-weight: 500;
  font-size: 27px;
  line-height: 1.25;
  color: #fff;
  border-bottom: 2px solid #ffffff;
}

.necessary__list-item {
  padding: 18px 0;
  padding-left: 70px;
  border-top: 2px solid #ffffff;
  position: relative;
}

.necessary__list-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("../img/icons/check_necessery.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 13px;
  top: 18px;
}

.ask__title {
  text-align: center;
  margin-bottom: 52px;
}

.ask__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ask__item-img {
  width: 90px;
}

.ask__item-img img {
  width: 100%;
}

.packages__title {
  margin-bottom: 167px;
  text-align: center;
}

.packages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 105px;
}

.packages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 15px;
  margin-bottom: 35px;
}

.packages__subtitle {
  font-family: PTSerif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 27px;
  line-height: 1.24;
  margin-bottom: 40px;
}

.packages__btn {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  font-size: 24px;
}

.package__body {
  background: #f3f3f3;
  -webkit-box-shadow: 0px 3.79747px 56.0127px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 3.79747px 56.0127px rgba(0, 0, 0, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 43px;
  padding-bottom: 75px;
  padding-left: 40px;
  padding-right: 40px;
}

.package__body-white {
  background: #ffffff;
  position: relative;
}

.package__title {
  font-family: PTSerif;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.package__list {
  font-size: 22px;
  line-height: 1.25;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 48px;
}

.package__list-item {
  padding-left: 30px;
  position: relative;
}

.package__list-item:not(:last-child) {
  margin-bottom: 1em;
}

.package__list-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #203189;
  -webkit-box-shadow: 0px 3.79747px 3.79747px rgba(0, 91, 174, 0.32);
          box-shadow: 0px 3.79747px 3.79747px rgba(0, 91, 174, 0.32);
  top: 8px;
  left: 0;
}

.package__price {
  font-family: PTSerif;
  font-weight: bold;
  font-size: 65px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.package__price span {
  font-size: 24px;
}

.package__lebel {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background: #203189;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  height: 93px;
  font-size: 22px;
  line-height: 1.25;
  font-weight: 700;
}

.education {
  font-size: 27px;
  line-height: 1.26;
}

.education__title {
  margin-bottom: 57px;
}

.education__tabs-block {
  border: 1px solid #efefef;
}

.tabs-block .spollers-block1,
.tabs-block .spollers-block2,
.tabs-block .spollers-block3,
.tabs-block .spollers-block4,
.tabs-block .spollers-block5,
.tabs-block .spollers-block6,
.tabs-block .spollers-block7,
.tabs-block .spollers-block8,
.tabs-block .spollers-block9 {
  display: none;
}

.tabs-block__item {
  padding: 33px 40px;
  border-bottom: 1px solid #efefef;
  line-height: 1.26;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.tabs-block__item span {
  font-weight: 700;
}

.tabs-block__item._active {
  background-color: #203189;
  color: #ffffff;
}

.tabs-block__body {
  border-left: 1px solid #efefef;
}

.tabs-block__block {
  padding: 55px;
}

.tabs-block__title {
  margin-bottom: 38px;
}

.tabs-block__title span {
  font-weight: 700;
}

.tabs-block__list li {
  padding-left: 57px;
  position: relative;
}

.tabs-block__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 8px;
  height: 8px;
  background-color: #203189;
  -webkit-box-shadow: 0px 3.79747px 3.79747px rgba(0, 91, 174, 0.32);
          box-shadow: 0px 3.79747px 3.79747px rgba(0, 91, 174, 0.32);
}

.tabs-block__list li:not(:last-child) {
  margin-bottom: 1em;
}

.speakers__container {
  position: relative;
  z-index: 2;
}

.speakers__title {
  margin-bottom: 63px;
}

.speakers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.speakers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  margin-bottom: 38px;
  line-height: 1.25;
}

.speakers__item-body {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 63px 45px 45px 45px;
  text-align: center;
}

.speakers__item-img {
  width: 183px;
  height: 183px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
}

.speakers__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.speakers__item-name {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 22px;
}

.speakers__item-text {
  font-size: 20px;
}

.faq__title {
  margin-bottom: 48px;
}

.spollers-faq__items-title,
.spollers-faq__item-title,
.spollers-faq__item-text {
  line-height: 1.6;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 27px;
  margin-bottom: 8px;
}

.spollers-faq__items-title {
  font-weight: 700;
  border: 1px solid #000000;
}

.spollers-faq__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #efefef;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

._no-webp .spollers-faq__item-title::after{
  background-image: url("../img/icons/spoller-arrow.png"); }

.spollers-faq__item-title::after {
  content: "";
  width: 15px;
  height: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2%;
          flex: 0 0 2%;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  margin-left: 10px;
}

.spollers-faq__item-title._active {
  background-color: #203189;
  color: #fff;
}

._no-webp .spollers-faq__item-title._active::after{
  background-image: url("../img/icons/white-spoller-arrow.png"); }

.spollers-faq__item-title._active::after {
  -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.spollers-faq__item-text {
  border: 1px solid #efefef;
}

.spollers-faq__item-text p:not(:last-child) {
  margin-bottom: 1em;
}

.main-form__form {
  background: #203189;
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 90px;
  padding-right: 90px;
}

.form__title {
  margin-bottom: 10px;
}

.form__subtitle {
  font-size: 27px;
  color: #fff;
  margin-bottom: 33px;
}

.form__btn {
  background: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 17px 27px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 17px 27px rgba(0, 0, 0, 0.25);
  color: #005bae;
  min-width: 360px;
  margin-top: 34px;
}

@media (min-width: 767.98px) {
  .tabs-block__body {
    position: relative;
    width: 100%;
    overflow: auto;
  }

  .tabs-block__block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  ._tabs-block {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }

  ._tabs-block._active {
    display: block;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .foolscreen__bg > img {
    width: 580px;
  }

  .foolscreen__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .foolscreen__img {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-right: 85px;
    padding-top: 225px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .foolscreen__img img {
    width: 100%;
  }

  .foolscreen__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .foolscreen__text {
    font-size: 43px;
  }

  .foolscreen__btn {
    font-size: 24px;
  }

  .education__tabs-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .tabs-block__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42.3%;
            flex: 0 0 42.3%;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .page__sertificat .information__item {
    width: 50%;
  }

  .page__sertificat .information__item:nth-child(even) {
    margin-left: 50%;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1755px) {
  .foolscreen__bg > img {
    left: 20px;
  }
}

@media (max-width: 1422px) {
  .packages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .packages__item-best {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .tabs-block__item {
    padding: 13px 23px;
  }

  .tabs-block__block {
    padding: 30px;
  }

  .tabs-block__list li::before {
    top: 10px;
  }

  .tabs-block__list li {
    padding-left: 30px;
  }

  .speakers__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1410px) {
  .form__line {
    margin-bottom: calc(6px + 14 * ((100vw - 320px) / 1090));
  }

  .form__error {
    font-size: calc(12px + 15 * ((100vw - 320px) / 1090));
  }

  .form__error {
    margin-top: calc(3px + 7 * ((100vw - 320px) / 1090));
  }

  .input {
    padding-top: calc(10px + 15 * ((100vw - 320px) / 1090));
  }

  .input {
    padding-bottom: calc(10px + 15 * ((100vw - 320px) / 1090));
  }

  .input {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 1090));
  }

  .input {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 1090));
  }

  .input {
    font-size: calc(12px + 15 * ((100vw - 320px) / 1090));
  }

  .btn {
    font-size: calc(12px + 12 * ((100vw - 320px) / 1090));
  }

  .btn {
    padding-top: calc(11px + 14 * ((100vw - 320px) / 1090));
  }

  .btn {
    padding-bottom: calc(11px + 14 * ((100vw - 320px) / 1090));
  }

  .btn {
    padding-left: calc(38px + 39 * ((100vw - 320px) / 1090));
  }

  .btn {
    padding-right: calc(38px + 39 * ((100vw - 320px) / 1090));
  }

  .title {
    font-size: calc(14px + 20 * ((100vw - 320px) / 1090));
  }

  .popup_send-message .popup__body {
    padding-top: calc(50px + 68 * ((100vw - 320px) / 1090));
  }

  .popup_send-message .popup__body {
    padding-bottom: calc(50px + 95 * ((100vw - 320px) / 1090));
  }

  .popup_send-message .popup__body {
    padding-right: calc(30px + 97 * ((100vw - 320px) / 1090));
  }

  .popup_send-message .popup__body {
    padding-left: calc(30px + 97 * ((100vw - 320px) / 1090));
  }

  .popup_send-message__img {
    width: calc(30px + 48 * ((100vw - 320px) / 1090));
  }

  .popup_send-message__img {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1090));
  }

  .popup_send-message__title {
    font-size: calc(20px + 23 * ((100vw - 320px) / 1090));
  }

  .popup_send-message__title {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1090));
  }

  .popup_send-message__text {
    font-size: calc(14px + 13 * ((100vw - 320px) / 1090));
  }

  .popup_send-message__text {
    margin-bottom: calc(20px + 44 * ((100vw - 320px) / 1090));
  }

  .header__container {
    height: calc(44px + 71 * ((100vw - 320px) / 1090));
  }

  .header__logo {
    width: calc(39px + 39 * ((100vw - 320px) / 1090));
  }

  .header__logo {
    height: calc(39px + 39 * ((100vw - 320px) / 1090));
  }

  .menu__body._active {
    top: calc(44px + 31 * ((100vw - 320px) / 1090));
  }

  footer {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 1090));
  }

  footer {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 1090));
  }

  .footer {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1090));
  }

  .page__diplom {
    padding-top: calc(65px + 63 * ((100vw - 320px) / 1090));
  }

  .page__diplom {
    padding-bottom: calc(65px + 63 * ((100vw - 320px) / 1090));
  }

  .page__information {
    padding-top: calc(47px + 39 * ((100vw - 320px) / 1090));
  }

  .page__information {
    padding-bottom: calc(67px + 46 * ((100vw - 320px) / 1090));
  }

  .page__advantages {
    padding-top: calc(44px + 81 * ((100vw - 320px) / 1090));
  }

  .page__advantages {
    padding-bottom: calc(15px + 110 * ((100vw - 320px) / 1090));
  }

  .page__necessary {
    padding-top: calc(43px + 94 * ((100vw - 320px) / 1090));
  }

  .page__necessary {
    padding-bottom: calc(56px + 81 * ((100vw - 320px) / 1090));
  }

  .page__ask {
    padding-top: calc(46px + 58 * ((100vw - 320px) / 1090));
  }

  .page__ask {
    padding-bottom: calc(46px + 58 * ((100vw - 320px) / 1090));
  }

  .page__packages {
    padding-top: calc(40px + 115 * ((100vw - 320px) / 1090));
  }

  .page__packages {
    padding-bottom: calc(60px + 95 * ((100vw - 320px) / 1090));
  }

  .page__education {
    padding-top: calc(55px + 90 * ((100vw - 320px) / 1090));
  }

  .page__education {
    padding-bottom: calc(55px + 90 * ((100vw - 320px) / 1090));
  }

  .page__speakers {
    padding-top: calc(40px + 213 * ((100vw - 320px) / 1090));
  }

  .page__speakers {
    padding-bottom: calc(50px + 95 * ((100vw - 320px) / 1090));
  }

  .page__faq {
    padding-top: calc(45px + 83 * ((100vw - 320px) / 1090));
  }

  .page__faq {
    padding-bottom: calc(50px + 94 * ((100vw - 320px) / 1090));
  }

  .page__form {
    padding-bottom: calc(54px + 89 * ((100vw - 320px) / 1090));
  }

  .foolscreen {
    padding-top: calc(90px + 70 * ((100vw - 320px) / 1090));
  }

  .foolscreen__text {
    margin-bottom: calc(20px + 35 * ((100vw - 320px) / 1090));
  }

  .foolscreen__arrow {
    min-width: calc(37px + 29 * ((100vw - 320px) / 1090));
  }

  .foolscreen__arrow {
    height: calc(37px + 29 * ((100vw - 320px) / 1090));
  }

  .foolscreen__arrow img {
    height: calc(11px + 7 * ((100vw - 320px) / 1090));
  }

  .diplom__title {
    margin-bottom: calc(10px + 12 * ((100vw - 320px) / 1090));
  }

  .diplom__text {
    font-size: calc(12px + 15 * ((100vw - 320px) / 1090));
  }

  .information__title {
    margin-bottom: calc(16px + 10 * ((100vw - 320px) / 1090));
  }

  .information__list {
    font-size: calc(12px + 15 * ((100vw - 320px) / 1090));
  }

  .information__item span {
    margin-right: calc(17px + 27 * ((100vw - 320px) / 1090));
  }

  .information__item span {
    font-size: calc(40px + 60 * ((100vw - 320px) / 1090));
  }

  .information__item span {
    min-width: calc(15px + 57 * ((100vw - 320px) / 1090));
  }

  .information__item:not(:last-child) {
    margin-bottom: calc(28px + 17 * ((100vw - 320px) / 1090));
  }

  .advantages__item-img {
    width: calc(61px + 87 * ((100vw - 320px) / 1090));
  }

  .advantages__item-img {
    height: calc(61px + 87 * ((100vw - 320px) / 1090));
  }

  .advantages__item-img {
    margin-bottom: calc(13px + 17 * ((100vw - 320px) / 1090));
  }

  .advantages__item-img img {
    width: calc(26px + 38 * ((100vw - 320px) / 1090));
  }

  .advantages__item-text {
    font-size: calc(12px + 15 * ((100vw - 320px) / 1090));
  }

  .necessary__title {
    margin-bottom: calc(30px + 13 * ((100vw - 320px) / 1090));
  }

  .necessary__list {
    font-size: calc(12px + 15 * ((100vw - 320px) / 1090));
  }

  .necessary__list-item {
    padding-left: calc(30px + 40 * ((100vw - 320px) / 1090));
  }

  .necessary__list-item::before {
    width: calc(18px + 17 * ((100vw - 320px) / 1090));
  }

  .necessary__list-item::before {
    height: calc(18px + 17 * ((100vw - 320px) / 1090));
  }

  .necessary__list-item::before {
    left: calc(0px + 13 * ((100vw - 320px) / 1090));
  }

  .ask__title {
    margin-bottom: calc(22px + 30 * ((100vw - 320px) / 1090));
  }

  .ask__item-img {
    width: calc(25px + 65 * ((100vw - 320px) / 1090));
  }

  .packages__title {
    margin-bottom: calc(80px + 87 * ((100vw - 320px) / 1090));
  }

  .packages__items {
    margin-bottom: calc(10px + 95 * ((100vw - 320px) / 1090));
  }

  .packages__subtitle {
    font-size: calc(13px + 14 * ((100vw - 320px) / 1090));
  }

  .packages__subtitle {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 1090));
  }

  .packages__btn {
    font-size: calc(12px + 12 * ((100vw - 320px) / 1090));
  }

  .package__body {
    padding-top: calc(21px + 22 * ((100vw - 320px) / 1090));
  }

  .package__body {
    padding-bottom: calc(36px + 39 * ((100vw - 320px) / 1090));
  }

  .package__body {
    padding-left: calc(20px + 20 * ((100vw - 320px) / 1090));
  }

  .package__body {
    padding-right: calc(20px + 20 * ((100vw - 320px) / 1090));
  }

  .package__title {
    font-size: calc(13px + 14 * ((100vw - 320px) / 1090));
  }

  .package__title {
    margin-bottom: calc(12px + 13 * ((100vw - 320px) / 1090));
  }

  .package__list {
    font-size: calc(12px + 10 * ((100vw - 320px) / 1090));
  }

  .package__list {
    margin-bottom: calc(19px + 29 * ((100vw - 320px) / 1090));
  }

  .package__list-item {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 1090));
  }

  .package__list-item::before {
    width: calc(4px + 4 * ((100vw - 320px) / 1090));
  }

  .package__list-item::before {
    height: calc(4px + 4 * ((100vw - 320px) / 1090));
  }

  .package__list-item::before {
    top: calc(5px + 3 * ((100vw - 320px) / 1090));
  }

  .package__price {
    font-size: calc(29px + 36 * ((100vw - 320px) / 1090));
  }

  .package__price {
    margin-bottom: calc(5px + 10 * ((100vw - 320px) / 1090));
  }

  .package__price span {
    font-size: calc(11px + 13 * ((100vw - 320px) / 1090));
  }

  .package__lebel {
    height: calc(46px + 47 * ((100vw - 320px) / 1090));
  }

  .package__lebel {
    font-size: calc(12px + 10 * ((100vw - 320px) / 1090));
  }

  .education {
    font-size: calc(12px + 15 * ((100vw - 320px) / 1090));
  }

  .education__title {
    margin-bottom: calc(25px + 32 * ((100vw - 320px) / 1090));
  }

  .tabs-block__title {
    margin-bottom: calc(15px + 23 * ((100vw - 320px) / 1090));
  }

  .speakers__title {
    margin-bottom: calc(26px + 37 * ((100vw - 320px) / 1090));
  }

  .speakers__item {
    margin-bottom: calc(14px + 24 * ((100vw - 320px) / 1090));
  }

  .speakers__item-img {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1090));
  }

  .speakers__item-name {
    font-size: calc(14px + 13 * ((100vw - 320px) / 1090));
  }

  .speakers__item-name {
    margin-bottom: calc(10px + 12 * ((100vw - 320px) / 1090));
  }

  .speakers__item-text {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1090));
  }

  .faq__title {
    margin-bottom: calc(8px + 40 * ((100vw - 320px) / 1090));
  }

  .spollers-faq__items-title,
  .spollers-faq__item-title,
  .spollers-faq__item-text {
    padding-top: calc(6px + 22 * ((100vw - 320px) / 1090));
  }

  .spollers-faq__items-title,
  .spollers-faq__item-title,
  .spollers-faq__item-text {
    padding-bottom: calc(6px + 22 * ((100vw - 320px) / 1090));
  }

  .spollers-faq__items-title,
  .spollers-faq__item-title,
  .spollers-faq__item-text {
    padding-left: calc(9px + 41 * ((100vw - 320px) / 1090));
  }

  .spollers-faq__items-title,
  .spollers-faq__item-title,
  .spollers-faq__item-text {
    padding-right: calc(9px + 41 * ((100vw - 320px) / 1090));
  }

  .spollers-faq__items-title,
  .spollers-faq__item-title,
  .spollers-faq__item-text {
    font-size: calc(12px + 15 * ((100vw - 320px) / 1090));
  }

  .spollers-faq__items-title,
  .spollers-faq__item-title,
  .spollers-faq__item-text {
    margin-bottom: calc(3px + 5 * ((100vw - 320px) / 1090));
  }

  .spollers-faq__item-title::after {
    height: calc(6px + 9 * ((100vw - 320px) / 1090));
  }

  .main-form__form {
    padding-top: calc(33px + 27 * ((100vw - 320px) / 1090));
  }

  .main-form__form {
    padding-bottom: calc(46px + 34 * ((100vw - 320px) / 1090));
  }

  .main-form__form {
    padding-left: calc(18px + 72 * ((100vw - 320px) / 1090));
  }

  .main-form__form {
    padding-right: calc(18px + 72 * ((100vw - 320px) / 1090));
  }

  .form__subtitle {
    font-size: calc(12px + 15 * ((100vw - 320px) / 1090));
  }

  .form__subtitle {
    margin-bottom: calc(20px + 13 * ((100vw - 320px) / 1090));
  }

  .form__btn {
    margin-top: calc(7px + 27 * ((100vw - 320px) / 1090));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .advantages__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    right: 0;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .footer__confidentiality a {
    margin-bottom: 20px;
  }

  .footer__confidentiality {
    margin-bottom: 20px;
  }

  .footer__phone {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__info span {
    margin-bottom: 20px;
  }

  .foolscreen__bg > img {
    left: unset;
    top: -10px;
    right: 20px;
    width: 700px;
  }

  .foolscreen__img img {
    width: 700px;
    margin-left: -10px;
  }

  .foolscreen__text {
    font-size: 43px;
  }

  .packages__btn {
    width: 280px;
  }

  .tabs-block .spollers-block1,
  .tabs-block .spollers-block2,
  .tabs-block .spollers-block3,
  .tabs-block .spollers-block4,
  .tabs-block .spollers-block5,
  .tabs-block .spollers-block6,
  .tabs-block .spollers-block7,
  .tabs-block .spollers-block8,
  .tabs-block .spollers-block9 {
    display: block;
  }

  .tabs-block__item {
    background-color: #203189;
    color: #ffffff;
  }

  .tabs-block__block {
    padding: 15px 23px;
  }

  .tabs-block__list li::before {
    top: 5px;
  }

  .tabs-block__list li {
    padding-left: 20px;
  }

  .speakers__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .speakers__item-body {
    padding: 30px 15px;
  }

  .form__btn {
    min-width: 100%;
  }
}

@media (max-width: 767.98px) and (max-width: 1410px) {
  .foolscreen__bg > img {
    width: calc(170px + 530 * ((100vw - 320px) / 1090));
  }

  .foolscreen__img img {
    width: calc(200px + 500 * ((100vw - 320px) / 1090));
  }

  .foolscreen__text {
    font-size: calc(16px + 27 * ((100vw - 320px) / 1090));
  }
}

@media (max-width: 570px) {
  .packages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 479.98px) {
  .menu__body {
    width: 100%;
  }
}

@media (min-width: 767.98px) and (max-width: 1410px) {
  .foolscreen__bg > img {
    width: calc(50px + 530 * ((100vw - 320px) / 1090));
  }

  .foolscreen__img {
    margin-right: calc(0px + 85 * ((100vw - 320px) / 1090));
  }

  .foolscreen__img {
    padding-top: calc(0px + 225 * ((100vw - 320px) / 1090));
  }

  .foolscreen__text {
    font-size: calc(0px + 43 * ((100vw - 320px) / 1090));
  }

  .foolscreen__btn {
    font-size: calc(5px + 19 * ((100vw - 320px) / 1090));
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background: #111b4e;
  }

  .menu__icon:hover svg path {
    fill: #203189;
    opacity: 0.7;
  }

  .menu__link:hover {
    color: #000;
  }

  .footer__confidentiality a:hover {
    text-decoration: underline;
  }

  .footer__phone:hover {
    color: #203189;
  }

  .foolscreen__arrow:hover {
    background-color: #2e3c74;
  }

  .information__item:hover span {
    color: #203189;
  }

  .information__item-w:hover span {
    opacity: 1;
    color: #fff;
  }

  .tabs-block__item:hover {
    background-color: #203189;
    color: #ffffff;
  }
}

._webp .spollers-faq__item-title::after{ background-image: url(../img/icons/spoller-arrow.webp); }

._webp .spollers-faq__item-title._active::after{ background-image: url(../img/icons/white-spoller-arrow.webp); }